/*Navbar*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #f2f2f2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-weight: 500;
}

.nav-link:hover {
  color: #85A98F;
}

/*Home*/
.home {
  height: 100vh;
  background-color: #f2f2f2;
}