/*Navbar*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #f7f7f7;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-weight: 500;
}

.nav-link:hover {
  color: #85A98F;
}

.nav-link #login {
  align-self: flex-end;
}

/*Home*/
.home {
  height: 100vh;
  background-color: #f7f7f7;
}

.content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5rem;
  text-align: left;
}